#create-business-form {
    display: flex;
    flex-flow: column nowrap;
    width: 90rem;
    height: 50rem;
    justify-content: center;
    align-items: center;
}

#business-name-and-description {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    padding-right: 100px;
}

#business-address-information {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    padding-left: 100px;
}

#vertical-divider {
    border: 2px solid black;
    height: 500px;
}

#entire-create-business-form {
    display: flex;
    flex-flow: row wrap;
}

textarea {
    height: 200px;
    width: 300px;
    font-size: 16px;
    resize: none;
}


#business-address-information label {
    padding: 20px;
}

#business-address-information label input {
    height: 30px;
    width: 200px;
}

#state-and-zip-code {
    display: flex;
    flex-flow: row nowrap;
}

#zip-code {
    width: 90px;
}

#create-button {
    width: 20.35rem;
    height: 2.3rem;
    background-color: #d32323;
    border: 1px solid #d32323;
    border-radius: 3px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    transition: all .6s;
}

#create-button:hover {
    background-color: #d45959;
    cursor: pointer;
}

#create-button:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}
