#signup-form {
    height: 33rem;
    width: 30rem;
    display: flex;
    flex-flow: column nowrap;
}

label i {
    height: 30px;
    width: 30px;
    font-size: 25px;
    padding: 10px;
}

#signup-form input {
    width: 20rem;
    height: 2rem;
    font-size: 16px;
}

#signup-form #signup-button {
    width: 20.35rem;
    height: 2.3rem;
    background-color: #d32323;
    border: 1px solid #d32323;
    border-radius: 3px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    transition: all .6s;
}

#signup-form #signup-button:hover {
    background-color: #d45959;
    cursor: pointer;
}

#signup-form #signup-button:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}

label {
    margin-left: 27px;
}

#intro-text {
    color: #d32323;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}

#signup-lock-icon {
    padding: 7px;
}

#log-in-text {
    color: #0073BB;
}

#log-in-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    list-style-type: none;
    text-align: center;
    margin-right: 40px;
    color: #d32323
}

.signup-password-div {
    border: 2px solid black;
    width: 20.2rem;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    margin-top: 8px;
}

.see-password {
    border: none;
    background-color: transparent;
    text-align: center;
}

#see-password:hover {
    cursor: pointer;
}

#password, #confirm-password {
    border: none;
}

.password {
    display: flex;
    flex-flow: row nowrap;
    border: none;
}

.not-password {
    border: 2px solid black;
}

/* .not-password:focus {
    border: 2px solid lightskyblue;
} */

#password:focus, #confirm-password:focus {
    outline: none;
}