.single-review-div {
    display: flex;
    flex-flow: row wrap;
}

.single-review-text {
    padding:  0 20px;
}

#reviews {
    text-align: center;
    height: 300px;
    overflow-y: scroll;
}

.single-review-div {
    margin-left: 350px;
    padding: 30px;
}
